<% layout("layouts/boilerplate") %>
<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>
<img class="img-fluid" src="<%= campground.image %> " alt="" />
<p><%= campground.description %></p>
<div>
	<a href="/campgrounds/<%= campground._id %>/edit">Edit</a>
</div>
<div>
	<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
		<button>Delete</button>
	</form>
</div>
<div class="mb-3">
	<a href="/campgrounds">All Campgrounds</a>
</div>
