<% layout("layouts/boilerplate") %>

<div class="row mb-4">
	<div class="col-6">
		<div class="card">
			<img src="<%= campground.image %>" class="card-img-top img-fluid" alt="image of a campground" />
			<div class="card-body">
				<h5 class="card-title"><%= campground.title %></h5>
				<p class="card-text"><%= campground.description %></p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item text-muted"><%= campground.location %></li>
				<li class="list-group-item">$<%= campground.price %> per night</li>
			</ul>
			<div class="card-body">
				<a class="card-link btn btn-primary" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
				<form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
					<button class="btn btn-danger">Delete</button>
				</form>
			</div>
		</div>

		<!-- <div class="mt-3 mb-5">
			<a href="/campgrounds">Go Back</a>
		</div> -->
	</div>
	<div class="col-6">
		<h4>Leave a Review</h4>
		<form action="/campgrounds/<%= campground._id %>/reviews" method="POST" class="needs-validation" novalidate>
			<div class="mb-3">
				<label class="form-label" for="rating">Rating</label>
				<input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="body">Review</label>
				<textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
			</div>
			<button class="btn btn-success">Submit</button>
		</form>

		<h4 class="mt-5">Reviews</h4>
		<% for(const review of campground.reviews) { %>
		<div class="card mb-3">
			<div class="card-body">
				<h5 class="card-title">Rating: <%= review.rating %></h5>
				<p class="card-text">Review: <%= review.body %></p>
			</div>
		</div>
		<% } %>
	</div>
</div>
